<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>

  <script src="https://npmcdn.com/zone.js@0.8.5/dist/zone.js"></script>
  <script src="https://npmcdn.com/reflect-metadata@0.1.3/Reflect.js"></script>
  <script src="https://npmcdn.com/systemjs@0.19.31/dist/system.js"></script>
  <script src="https://npmcdn.com/typescript@2.1.1/lib/typescript.js"></script>
    <script src="config.js"></script>
    <script>
      System.import('app')
        .catch(console.error.bind(console));
    </script>
<div align="middle">
<ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="servers"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)">
</ngx-charts-bar-vertical>
</div>
</div>