<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<div>
  <h1>
    <span style="float:left">Active Servers</span>
    <span style="float:right">Waiting Servers</span>
  </h1>
</div>
<br><br>
<div>
  <br>
  <span style="float:left">
    <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="servers"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [yScaleMax]="yScaleMax"
        (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </span>

  <span style="float:right">
    <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="waitingServers"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel2"
        [yScaleMax]="yScaleMax"
        (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </span>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="text-align:center">
<button (click)="burstTest()">Burst Requests</button>
<button (click)="slowRequests()">Slow Down Requests</button>
<button (click)="regularRequestRate()">Regular Request Rate</button>
</div>